<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>uTrack.ScheduleTimeLP</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>selectPopUp</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>selectStudent</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>basePageNavigation</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>selectSettings</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>selectTimeNotification</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>confirmButtonSelected</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>selectRadioButton</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>loginFields</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tearDown</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
