<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="eff760">  <td>17/11/10 20:39:59</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ScheduleTimeLP.basePageNavigation()[pri:1, instance:uTrack.ScheduleTimeLP@3e6fa38a]">basePageNavigation</td> 
  <td>main@633070006</td>   <td></td> </tr>
<tr bgcolor="eff760">  <td>17/11/10 20:40:42</td>   <td>43118</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ScheduleTimeLP.confirmButtonSelected()[pri:8, instance:uTrack.ScheduleTimeLP@3e6fa38a]">confirmButtonSelected</td> 
  <td>main@633070006</td>   <td></td> </tr>
<tr bgcolor="eff760">  <td>17/11/10 20:40:11</td>   <td>12068</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ScheduleTimeLP.loginFields()[pri:2, instance:uTrack.ScheduleTimeLP@3e6fa38a]">loginFields</td> 
  <td>main@633070006</td>   <td></td> </tr>
<tr bgcolor="eff760">  <td>17/11/10 20:40:14</td>   <td>14720</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ScheduleTimeLP.selectPopUp()[pri:3, instance:uTrack.ScheduleTimeLP@3e6fa38a]">selectPopUp</td> 
  <td>main@633070006</td>   <td></td> </tr>
<tr bgcolor="eff760">  <td>17/11/10 20:40:33</td>   <td>33987</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ScheduleTimeLP.selectRadioButton()[pri:7, instance:uTrack.ScheduleTimeLP@3e6fa38a]">selectRadioButton</td> 
  <td>main@633070006</td>   <td></td> </tr>
<tr bgcolor="eff760">  <td>17/11/10 20:40:26</td>   <td>26583</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ScheduleTimeLP.selectSettings()[pri:4, instance:uTrack.ScheduleTimeLP@3e6fa38a]">selectSettings</td> 
  <td>main@633070006</td>   <td></td> </tr>
<tr bgcolor="eff760">  <td>17/11/10 20:40:30</td>   <td>31388</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ScheduleTimeLP.selectStudent()[pri:5, instance:uTrack.ScheduleTimeLP@3e6fa38a]">selectStudent</td> 
  <td>main@633070006</td>   <td></td> </tr>
<tr bgcolor="eff760">  <td>17/11/10 20:40:31</td>   <td>31714</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ScheduleTimeLP.selectTimeNotification()[pri:6, instance:uTrack.ScheduleTimeLP@3e6fa38a]">selectTimeNotification</td> 
  <td>main@633070006</td>   <td></td> </tr>
<tr bgcolor="eff760">  <td>17/11/10 20:40:45</td>   <td>45656</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ScheduleTimeLP.tearDown()[pri:9, instance:uTrack.ScheduleTimeLP@3e6fa38a]">tearDown</td> 
  <td>main@633070006</td>   <td></td> </tr>
</table>
