<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6fc185">  <td>17/11/10 18:40:08</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FirstViewLP.Test01GetUrl()[pri:0, instance:uTrack.FirstViewLP@30b7c004]">Test01GetUrl</td> 
  <td>main@728739494</td>   <td></td> </tr>
<tr bgcolor="6fc185">  <td>17/11/10 18:40:27</td>   <td>18817</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FirstViewLP.Test02Login()[pri:0, instance:uTrack.FirstViewLP@30b7c004]">Test02Login</td> 
  <td>main@728739494</td>   <td></td> </tr>
<tr bgcolor="6fc185">  <td>17/11/10 18:40:31</td>   <td>22691</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FirstViewLP.Test03SkipModel()[pri:0, instance:uTrack.FirstViewLP@30b7c004]">Test03SkipModel</td> 
  <td>main@728739494</td>   <td></td> </tr>
<tr bgcolor="6fc185">  <td>17/11/10 18:40:36</td>   <td>28057</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FirstViewLP.Test04Logout()[pri:0, instance:uTrack.FirstViewLP@30b7c004]">Test04Logout</td> 
  <td>main@728739494</td>   <td></td> </tr>
<tr bgcolor="6fc185">  <td>17/11/10 18:40:43</td>   <td>34328</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FirstViewLP.Test05Quit()[pri:0, instance:uTrack.FirstViewLP@30b7c004]">Test05Quit</td> 
  <td>main@728739494</td>   <td></td> </tr>
<tr bgcolor="9b7d71">  <td>17/11/10 18:39:09</td>   <td>-59195</td> <td title="&gt;&gt;LoggedInLP.basePageNavigation()[pri:0, instance:uTrack.LoggedInLP@45018215]">&gt;&gt;basePageNavigation</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@728739494</td>   <td></td> </tr>
<tr bgcolor="f5e5e3">  <td>17/11/10 18:39:36</td>   <td>-32119</td> <td title="&gt;&gt;MapLP.basePageNavigation()[pri:0, instance:uTrack.MapLP@65d6b83b]">&gt;&gt;basePageNavigation</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@728739494</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>17/11/10 18:39:47</td>   <td>-20919</td> <td title="&gt;&gt;ModifyNameLP.basePageNavigation()[pri:0, instance:uTrack.ModifyNameLP@d706f19]">&gt;&gt;basePageNavigation</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@728739494</td>   <td></td> </tr>
<tr bgcolor="60a1bd">  <td>17/11/10 18:41:29</td>   <td>80242</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ScheduleTimeLP.basePageNavigation()[pri:1, instance:uTrack.ScheduleTimeLP@29176cc1]">basePageNavigation</td> 
  <td>main@728739494</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>17/11/10 18:41:23</td>   <td>74631</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ModifyNameLP.checkModifiedName()[pri:0, instance:uTrack.ModifyNameLP@d706f19]">checkModifiedName</td> 
  <td>main@728739494</td>   <td></td> </tr>
<tr bgcolor="60a1bd">  <td>17/11/10 18:42:08</td>   <td>120076</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ScheduleTimeLP.confirmButtonSelected()[pri:8, instance:uTrack.ScheduleTimeLP@29176cc1]">confirmButtonSelected</td> 
  <td>main@728739494</td>   <td></td> </tr>
<tr bgcolor="9b7d71">  <td>17/11/10 18:39:21</td>   <td>-46813</td> <td title="&gt;&gt;LoggedInLP.loginFields()[pri:0, instance:uTrack.LoggedInLP@45018215]">&gt;&gt;loginFields</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@728739494</td>   <td></td> </tr>
<tr bgcolor="f5e5e3">  <td>17/11/10 18:39:45</td>   <td>-23646</td> <td title="&gt;&gt;MapLP.loginFields()[pri:0, instance:uTrack.MapLP@65d6b83b]">&gt;&gt;loginFields</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@728739494</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>17/11/10 18:40:05</td>   <td>-3561</td> <td title="&gt;&gt;ModifyNameLP.loginFields()[pri:0, instance:uTrack.ModifyNameLP@d706f19]">&gt;&gt;loginFields</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@728739494</td>   <td></td> </tr>
<tr bgcolor="60a1bd">  <td>17/11/10 18:41:38</td>   <td>90189</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ScheduleTimeLP.loginFields()[pri:2, instance:uTrack.ScheduleTimeLP@29176cc1]">loginFields</td> 
  <td>main@728739494</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>17/11/10 18:41:20</td>   <td>72157</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ModifyNameLP.modifyFirstName()[pri:0, instance:uTrack.ModifyNameLP@d706f19]">modifyFirstName</td> 
  <td>main@728739494</td>   <td></td> </tr>
<tr bgcolor="9b7d71">  <td>17/11/10 18:40:51</td>   <td>42576</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoggedInLP.returnToLoginPage()[pri:0, instance:uTrack.LoggedInLP@45018215]">returnToLoginPage</td> 
  <td>main@728739494</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>17/11/10 18:41:18</td>   <td>69602</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ModifyNameLP.selectModifyName()[pri:0, instance:uTrack.ModifyNameLP@d706f19]">selectModifyName</td> 
  <td>main@728739494</td>   <td></td> </tr>
<tr bgcolor="9b7d71">  <td>17/11/10 18:39:24</td>   <td>-43973</td> <td title="&gt;&gt;LoggedInLP.selectPopUp()[pri:0, instance:uTrack.LoggedInLP@45018215]">&gt;&gt;selectPopUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@728739494</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>17/11/10 18:41:03</td>   <td>55042</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ModifyNameLP.selectPopUp()[pri:0, instance:uTrack.ModifyNameLP@d706f19]">selectPopUp</td> 
  <td>main@728739494</td>   <td></td> </tr>
<tr bgcolor="60a1bd">  <td>17/11/10 18:41:41</td>   <td>93167</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ScheduleTimeLP.selectPopUp()[pri:3, instance:uTrack.ScheduleTimeLP@29176cc1]">selectPopUp</td> 
  <td>main@728739494</td>   <td></td> </tr>
<tr bgcolor="9b7d71">  <td>17/11/10 18:40:48</td>   <td>39910</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoggedInLP.selectProfile()[pri:0, instance:uTrack.LoggedInLP@45018215]">selectProfile</td> 
  <td>main@728739494</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>17/11/10 18:41:15</td>   <td>66985</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ModifyNameLP.selectProfile()[pri:0, instance:uTrack.ModifyNameLP@d706f19]">selectProfile</td> 
  <td>main@728739494</td>   <td></td> </tr>
<tr bgcolor="60a1bd">  <td>17/11/10 18:41:53</td>   <td>105165</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ScheduleTimeLP.selectProfile()[pri:4, instance:uTrack.ScheduleTimeLP@29176cc1]">selectProfile</td> 
  <td>main@728739494</td>   <td></td> </tr>
<tr bgcolor="60a1bd">  <td>17/11/10 18:41:59</td>   <td>110781</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ScheduleTimeLP.selectRadioButton()[pri:7, instance:uTrack.ScheduleTimeLP@29176cc1]">selectRadioButton</td> 
  <td>main@728739494</td>   <td></td> </tr>
<tr bgcolor="60a1bd">  <td>17/11/10 18:41:56</td>   <td>107940</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ScheduleTimeLP.selectStudent()[pri:5, instance:uTrack.ScheduleTimeLP@29176cc1]">selectStudent</td> 
  <td>main@728739494</td>   <td></td> </tr>
<tr bgcolor="60a1bd">  <td>17/11/10 18:41:57</td>   <td>108493</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ScheduleTimeLP.selectTimeNotification()[pri:6, instance:uTrack.ScheduleTimeLP@29176cc1]">selectTimeNotification</td> 
  <td>main@728739494</td>   <td></td> </tr>
<tr bgcolor="60a1bd">  <td>17/11/10 18:42:11</td>   <td>122745</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ScheduleTimeLP.tearDown()[pri:9, instance:uTrack.ScheduleTimeLP@29176cc1]">tearDown</td> 
  <td>main@728739494</td>   <td></td> </tr>
<tr bgcolor="9b7d71">  <td>17/11/10 18:42:11</td>   <td>123176</td> <td>&nbsp;</td><td title="&lt;&lt;LoggedInLP.tearDown()[pri:0, instance:uTrack.LoggedInLP@45018215]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@728739494</td>   <td></td> </tr>
<tr bgcolor="f5e5e3">  <td>17/11/10 18:42:12</td>   <td>123978</td> <td>&nbsp;</td><td title="&lt;&lt;MapLP.tearDown()[pri:0, instance:uTrack.MapLP@65d6b83b]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@728739494</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>17/11/10 18:42:15</td>   <td>126516</td> <td>&nbsp;</td><td title="&lt;&lt;ModifyNameLP.tearDown()[pri:0, instance:uTrack.ModifyNameLP@d706f19]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@728739494</td>   <td></td> </tr>
<tr bgcolor="f5e5e3">  <td>17/11/10 18:40:51</td>   <td>43020</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MapLP.test01Model()[pri:0, instance:uTrack.MapLP@65d6b83b]">test01Model</td> 
  <td>main@728739494</td>   <td></td> </tr>
<tr bgcolor="f5e5e3">  <td>17/11/10 18:41:03</td>   <td>54913</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MapLP.test02IsMapLoaded()[pri:0, instance:uTrack.MapLP@65d6b83b]">test02IsMapLoaded</td> 
  <td>main@728739494</td>   <td></td> </tr>
</table>
